@page "/documenttypeusers/create"

<h3>Crear Tipo Documento Usuario</h3>

<FormWithName @ref="form" Label="Tipo de Documentos Usuarios: " Model="model" OnValidSubmit="CreateAsync" ReturnAction="Return" />
